.Toolbar {
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
	grid-area: h;
}

.Logo {
	height: 80%;
}

.DesktopOnly {
	width: 300px;
}

.DesktopOnly a {
	float: left;
	margin-top: 35px;
}

@media (max-width: 499px) {
	.DesktopOnly {
		display: none;
	}
}
