.NavigationItem {
		margin: 10px 0;
		box-sizing: border-box;
		display: block;
		width: 115px;
		border-radius: 8px;
	}

	.NavigationItem a {
		color: #253239;
		text-decoration: none;
		width: 100%;
		box-sizing: border-box;
		display: block;
	}

	.NavigationItem a:hover,
	.NavigationItem a:active,
	.NavigationItem a.active {
		color: #3B78E7;
		border-radius: 4px;
	}

@media (min-width: 500px) {
	.NavigationItem {
		margin: 0;
		display: flex;
		height: 100%;
		width: 115px;
		align-items: center;
		padding-right: 5px;
	}

	.NavigationItem a {
		height: 100%;
		width: auto;
		padding: 16px 10px;
		border-bottom: 4px solid transparent;
	}

	.NavigationItem a:hover,
	.NavigationItem a:active,
	.NavigationItem a.active {
		background-color: #3B78E7;
		color: white;
	}
}
