.Layout {
	color: #000000;
	height: 100%;
	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 
    	80px
    	600px
    	125px;
    grid-template-areas: 
	        ". h ."
			". c ."
			". f .";
}

.Content {
	grid-area: c;
}
