.Sidebar {
	position: fixed;
	width: 280px;
	max-width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 200;
	background-color: #49B2F8;
	padding: 32px 16px;
	box-sizing: border-box;
	transition: transform 0.3s ease-out;
}

.Open {
	transform: translateX(0);
}

.Close {
	transform: translateX(-100%);
}

.Logo {
	height: 9%;
	text-align: center;
	margin-bottom: 10px;
}

@media (min-width: 500px) {
	.Sidebar {
		display: none;
	}
}