.WalletInfo {
    margin-right: 15px;
    padding-top: 10px;
    color: #253239;
    display: inline-block;
    grid-area: w;
    border: 1px solid #253239;
    border-radius: 5px;
    margin-top: 5px;
    height: 25px;
    width: 125px;
}

.Address {
    display: inline-block;
}

.NetworkCircle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 2px;

}

.MainnetCircle {
    background: forestgreen;
}

.RinkebyCircle {
    background: gold;
}