.Enter {
    text-align: center;
    height: 575px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.Enter h2 {
    padding-top: 50px;
}

.Enter input {
    margin: auto;
    height: 35px;
    width: 250px;
}